@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-cream: #F5F2ED;
  --color-brand-beige: #ffffff;
  --color-brand-walnut: #5D4037;
  --color-brand-black: #1A1A1A;
  --color-brand-gold: #D4AF37;

  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Playfair Display', ui-serif, Georgia, serif;
}

body {
  background-color: var(--color-brand-cream);
  color: var(--color-brand-black);
  -webkit-font-smoothing: antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
